<div class="static-sidebar-wrapper sidebar-midnightblue">
    <div class="static-sidebar">
        <div class="sidebar">
            <div class="widget">
                <div class="widget-body">
                    <div class="userinfo">
                        <div class="avatar" style="font-size: 35px;color: #FFFFFF;">
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="info">
                            <span class="username">{{ app.session.get('nombre') }}</span> <br>
                            <span class="useremail" style="font-size: 11px;">{{ app.session.get('user') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav role="navigation" class="widget-body">
                    <ul class="acc-menu">
                        <li><a href="javascript:;"><i class="fa fa-book"></i><span>{%trans%}menu.sidebar.label.title.catalogs{% endtrans %}</span></a>
                            <ul class="acc-menu">
                                <li><a href="{{ path('user_display_list') }}">{%trans%}menu.sidebar.label.title.catalogs.users{% endtrans %}</a></li>
                                <li><a href="{{ path('moneda_display_list') }}">{%trans%}menu.sidebar.label.title.catalogs.currency{% endtrans %}</a></li>
                                <li>
                                   <a href="{{ path('idioma_display_list') }}">Idiomas</a> 
                                </li>
                                {% if (app.session.get('user') == 'superuser') %}
                                    <li>
                                        <a href="{{ path('parameters_list') }}">Configuración Parámetros</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{{ path('tour_display_list') }}"><i class="fa fa-cab"></i><span>Tours</span></a></li>
                        <li><a href="{{ path('paquete_display_list') }}"><i class="fa fa-briefcase"></i><span>Paquetes</span></a></li>
                        <li><a href="{{ path('hotel_display_list') }}"><i class="fa fa-building-o"></i><span>Hoteles</span></a></li>
                   
                        <li><a href="javascript:;"><i class="fa fa-book"></i><span>Utilidades</span></a>
                            <ul class="acc-menu">
                                <li><a href="{{ path('peninsula_display_list') }}">La península</a></li>
                                <!--<li><a href="{{ path('page_display_list') }}">Páginas</a></li>-->
                            </ul>
                            </li>
                           
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>