<div class="detalle-compra">
    <label class="title-detalle-compra">Detalle de su compra</label>
    <br> <br>
    <table width="100%">
        <thead>
        <tr class="gray-shadow">
            <th>Descripción</th>
            <th class="text-center">Fecha reservada</th>
            <th class="text-center">Adultos</th>
            <th class="text-center">Menores</th>
            <th class="text-center">Importe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-left">
                Paquete: {{ ventaCompleta.nombrePaquete }}
            </td>
            <td>{{ fechaCompra }}</td>
            <td class="text-center">{{ ventaCompleta.numeroAdultos }}</td>
            <td class="text-center">{{ ventaCompleta.numeroMenores }}</td>
            <td class="text-center">$ {{ ventaCompleta.costoTotal | number_format(2) }} MXP</td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                {{ ventaCompleta.diasPaquete }} Dias y {{ ventaCompleta.nochePaquete }} Noches en habitacion
                {% if ventaCompleta.numeroAdultos == 1 %}
                    Sencilla
                {% elseif ventaCompleta.numeroAdultos == 2 %}
                    Doble
                {% elseif ventaCompleta.numeroAdultos == 3 %}
                    Triple
                {% else %}
                    Cuadruple
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Hotel reservado: {{ ventaCompleta.hotelPickup }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Clave de su reservacion:</b><br> &nbsp;VIYUC{{ ventaCompleta.idVenta }}
            </td>
            <td>
                <b>Total a pagar</b>
            </td>
            <td class="text-center">
                $ {{ ventaCompleta.costoTotal | number_format(2) }} MXP
            </td>
        </tr>
        </tbody>
    </table>
</div>