{% extends ':web:TemplateVisitaYucatan.html.twig' %}


{% block section %}

    {% block content %}
        <style>

        </style>
        <link href="{{ asset('bundles/VisitaYucatanBundle/assets/plugins/form-daterangepicker/daterangepicker-bs3.css') }}" type="text/css" rel="stylesheet" />

        <section data-ng-controller="WebHotelController as ctrlWeb" ng-init="ctrlWeb.init({{ hotel.id }}, {{ ageMinor }})">
            <input type="hidden" value="{{ hotel.simboloMoneda }}" id="symbolCurrencyHidden"/>
            <input type="hidden" value="{{ path('web_hotel_rates') }}" id="pathRatesFind"/>
            <div id="content">

                Hotel => {{ hotel.nombreHotel }} <br>
                Descripcion => {{ hotel.descripcion }} <br>
                Estrellas => {{ hotel.estrellas }} <br>
                Imangen => <img src="{{ asset(hotel.principalImage) }}" width="80px"/> <br>

                Imagenes ======>
                {% for imagen in hotel.imagenesHotel %}
                    <li>{{ imagen.path }}</li>
                {% endfor %}

                <b>Tarifas</b> <br>

                Adultos:
                <select name="" id="" ng-model="ctrlWeb.formRate.adults">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

                Menores:
                <select name="" id="" ng-model="ctrlWeb.formRate.minors" ng-change="ctrlWeb.displayInputsMinors()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select> Edad Maxima del menor = {{ ageMinor }} <br>

                <br>
                <table id="tableMenors">
                </table>
                <br>

                Desde: <input type="text" id="dateFrom" class="datepicker" value="{{ dateFrom }}" ng-model="ctrlWeb.formRate.dateFrom"/>
                Hasta: <input type="text" id="dateTo" class="datepicker" value="{{ dateTo }}" ng-model="ctrlWeb.formRate.dateTo" readonly/> <br>

                <button data-ng-click="ctrlWeb.findTarifasHotel()">
                    Buscar
                </button>
                <br><br><br>

                *************************************************************************************************************************************************

                <div data-ng-repeat="habitacion in ctrlWeb.listRoomsHotelToSale.data">
                    <h1>[[ habitacion.nombre ]]</h1>
                    <h5 ng-bind-html="habitacion.descripcion"></h5>
                    <br>
                    <strong>Ocupacion maxima por habitacion:</strong> [[ habitacion.capacidadMaxima ]] (incluyendo menores)
                    <br><br>
                    <ul>
                        <li data-ng-repeat="tarifa in habitacion.hotelTarifasTOCollection">
                            fech = [[ tarifa.smallDate ]] <br>
                            costo = [[ tarifa.costo ]] <br>
                            <span ng-if="! tarifa.isAvailable">[[ tarifa.msjAvailable ]]</span>

                        </li>
                    </ul>
                    <br><br>
                    Habitaciones Requeridas : [[ habitacion.habitacionesRequeridas ]] <br>
                        <button data-ng-click="ctrlWeb.confirmReservaHotel(habitacion.id)" data-ng-if="habitacion.totalCostoHabitacion != '0.00'" type="button">
                            Reserva por solo [[ habitacion.totalCostoHabitacion ]] [[ ctrlWeb.symbolCurrency ]]
                        </button>
                    <br> <br>
                </div>

                <form action="{{ path('web_hotel_reserva') }}" id="frmReserveHotel" method="post">
                    <input type="hidden" name="idHotel" value="{{ hotel.id }}"/>
                    <input type="hidden" name="idHabitacion" id="idHabitacion"/>
                    <input type="hidden" name="fechaInicio" id="fechaInicio"/>
                    <input type="hidden" name="fechaFin" id="fechaFin"/>
                    <input type="hidden" name="adultos" id="adultsHidden"/>
                    <input type="hidden" name="menores" id="minorsHidden"/>
                </form>

            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </section>
    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/VisitaYucatanBundle/assets/plugins/form-daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
        <script>
            $(function(){

                $('.datepicker').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    startDate: '+1d'
                });
            });
        </script>

    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}