{% extends ':web:TemplateVisitaYucatanDetail.html.twig' %}


{% block section %}

    {% block content %}
        <div class="container-fluid" data-ng-controller="WebHotelController as ctrlWeb" ng-init="ctrlWeb.init({{ hotel.id }}, {{ ageMinor }}, {{ hotel.estrellas }})">
            <input type="hidden" value="{{ hotel.simboloMoneda }}" id="symbolCurrencyHidden"/>
            <input type="hidden" value="{{ path('web_hotel_rates') }}" id="pathRatesFind"/>

            <div class="row background-gray-light">
                <div class="col-sm-12">
                    <div class="container-main-header row" style="background-image: url({{ asset('bundles/VisitaYucatanBundle/img/web/banner.jpg') }}) !important;">
                        <div class="col-sm-6 mb-md mt-md">
                            <div class="col-sm-6 z-index-">
                                <a href="{{ asset(hotel.principalImage) }}" class="img-main-detail">
                                    <img src="{{ asset(hotel.principalImage) }}" class="img-thumbnail img-main box-shadow rotate-5-g"/>
                                </a>
                            </div>
                            <div class="col-sm-6 mt-xxl">
                                <h2 class="text-danger text-bold mt-xxl font-family-raleway">{{ hotel.nombreHotel }}</h2>
                                <div class="box-circuit text-bold text-italic text-center">
                                    <div class="first-part-box">
                                        <span class="fa fa-star" ng-repeat="n in ctrlWeb.arrayEstrellas"></span>
                                    </div>
                                    <div class="second-part-box">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="seconds-images mt-xl text-right">
                                {% for imagen in hotel.imagenesHotel %}
                                    <a href="{{ asset(imagen.path) }}" class="img-seconds-details">
                                        <img src="{{ asset(imagen.path) }}" width="110px" height="80px" class="border-img-detail img-preview-detail-main"/>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row container-body- background-gray-light">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 content-body-detail pr-n pl-n pb-xxl">
                            <div class="col-sm-12">
                                <h4 class="text-uppercase text-bold color-text-pink">{% trans %}page.web.label.description{% endtrans %}</h4>
                                <hr style="border-top: 1px solid rgb(239, 182, 78) !important;">
                                {{ hotel.nombreHotel }} <br>
                                &nbsp;
                            </div>
                            <div class="col-sm-12 color-text-gray-primary mt fnt-sz-12 contenedor-description">
                                {{ hotel.descripcion | raw }}
                            </div>
                            <div class="col-sm-12 background-element-pink mt-lg">
                                <span class="fnt-sz-20 text-bold text-italic color-text-white text-uppercase">
                                    {% trans %}page.web.labe.reserva.tarifas{% endtrans %}
                                </span>
                                {% if(hotel.mapa) %}
                                    {#TODO descomentar cuando ya se libere lo de mapas, hoteles y tours en detalle#}
                                    <span class="pull-right" onclick="preViewMap()" style="cursor: pointer;">
                                    <h4 class="mt mb pt-n pb-n" style="color: white;">
                                        <i class="fa fa-search"></i>&nbsp;
                                        {% trans %}page.web.labe.reserva.general.ver.mapa{% endtrans %}
                                    </h4>
                                </span>
                                {% endif %}
                            </div>
                            <div class="col-sm-12"><hr style="border-top: 1px solid rgb(239, 182, 78) !important;"></div>
                                <div class="row">
                                    <div class="col-sm-12 mt-n">

                                        <div class="col-sm-4">
                                            <label class="oswaldo color-text-pink">{% trans %}page.web.labe.reserva.tour.adults{% endtrans %}:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-group"></i></span>
                                                <select data-ng-model="ctrlWeb.formRate.adults"
                                                        class="form-control forminhabilitar">
                                                    <option value='0'>0</option>
                                                    <option value='1'>1</option>
                                                    <option value='2' selected>2</option>
                                                    <option value='3'>3</option>
                                                    <option value='4'>4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="oswaldo color-text-pink">{% trans %}page.web.labe.reserva.tour.minors{% endtrans %}:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-child"></i></span>
                                                <select data-ng-model="ctrlWeb.formRate.minors" ng-change="ctrlWeb.displayInputsMinors()"
                                                        class="form-control forminhabilitar">
                                                    <option value='0'>0</option>
                                                    <option value='1'>1</option>
                                                    <option value='2'>2</option>
                                                    <option value='3'>3</option>
                                                    <option value='4'>4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 ml mt">
                                        <table id="tableMenors" class="table">
                                        </table>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-4 mt">
                                            <label class="oswaldo color-text-pink">{% trans %}page.web.label.hotels.price.since{% endtrans %}:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" value="{{ dateFrom }}" id="dateFrom" onChange="cambiaFechaPaquete()"
                                                       ng-model="ctrlWeb.formRate.dateFrom" readonly class="datepicker form-control forminhabilitar"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mt">
                                            <label class="oswaldo color-text-pink">Hasta:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" value="{{ dateTo }}" id="dateTo"
                                                       ng-model="ctrlWeb.formRate.dateTo" readonly class="datepicker form-control forminhabilitar"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 ml">
                                        <button data-ng-click="ctrlWeb.findTarifasHotel()" class="btn btn-primary" style="margin-top: 28px">
                                            {% trans %}button.label.search{% endtrans %}
                                        </button>
                                        {#<button data-ng-click="ctrlWeb.checaBotones()" class="btn btn-primary" style="margin-top: 28px">
                                            {% trans %}button.label.search.nuevo{% endtrans %}
                                        </button>#}
                                    </div>
                            </div>

                            <div class="col-sm-12"><hr style="border-top: 1px solid rgb(239, 182, 78) !important;"></div>

                            <div class="row mb">

                                <div class="col-sm-12 text-bold">

                                    <div class="col-sm-3">
                                        <span class="text-info">{% trans %}page.web.labe.reserva.tour.adults{% endtrans %}: [[ ctrlWeb.formRate2.adults ]]</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="text-info">{% trans %}page.web.labe.reserva.tour.minors{% endtrans %}: [[ ctrlWeb.formRate2.minors ]]</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="text-info">{% trans %}page.web.label.hotels.price.since{% endtrans %}: [[ ctrlWeb.formRate2.dateFrom ]]</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="text-info">Hasta: [[ ctrlWeb.formRate2.dateTo ]]</span>
                                    </div>

                                </div>

                            </div>

                            <div data-ng-show="!ctrlWeb.showMessageRoomsNotFound">

                                <div style="cursor: default;" class="btn btn-warning ml" data-ng-show="ctrlWeb.listRoomsHotelToSale.data.length">
                                    <span><b>{% trans %}page.web.labe.reserva.tipo.plan{% endtrans %}:
                                    </b> {{ planAlimentos }}</span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12" data-ng-repeat="habitacion in ctrlWeb.listRoomsHotelToSale.data">
                                        <div class="col-sm-12"><h4 class="mb-n">{% trans %}page.web.labe.reserva.tour.habitacion{% endtrans %} [[ habitacion.nombre ]]</h4></div>
                                        <div class="col-sm-12 mt-n"><div ng-bind-html="habitacion.descripcion"></div></div>
                                        <div class="col-sm-12">
                                            <span class="text-bold">{% trans %}page.web.labe.reserva.ocupacion.maxima{% endtrans %}:</span> [[ habitacion.capacidadMaxima ]]
                                            {% trans %}page.web.labe.reserva.include.minors{% endtrans %}
                                        </div>

                                        <div class="col-sm-12">
                                            <div ng-class-odd="'day-hotel'" ng-class-even="'day-hotel-change'"
                                                 class="col-sm-2 text-center" data-ng-repeat="tarifa in habitacion.hotelTarifasTOCollection">
                                                <span class="lafecha">[[ tarifa.smallDate ]]</span> <br>
                                                <span class="elprecio" ng-if="! tarifa.isAvailable">[[ tarifa.msjAvailable ]]</span>
                                                <span class="elprecio" ng-if="tarifa.isAvailable">$ [[ tarifa.costo ]] <br>[[ctrlWeb.symbolCurrency]]</span>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <span class="text-bold">{% trans %}page.web.labe.reserva.required.room{% endtrans %}:</span>[[ habitacion.habitacionesRequeridas ]]
                                        </div>
                                        <div class="col-sm-12">
                                            <span class="text-bold">{% trans %}page.web.labe.reserva.age.maxima{% endtrans %}:</span> [[ ctrlWeb.formRate.ageMinor ]]
                                        </div>
                                        <div class="col-sm-12">
                                            <button data-ng-click="ctrlWeb.confirmReservaHotel(habitacion, habitacion.id, habitacion.totalCostoHabitacion)" data-ng-if="habitacion.totalCostoHabitacion != '0.00'" type="button"
                                                    class="btn btn-warning">
                                                {% trans %}page.web.labe.reserva.por.solo{% endtrans %}: $ [[ habitacion.totalCostoHabitacion ]] [[ ctrlWeb.symbolCurrency ]]
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div data-ng-show="ctrlWeb.showMessageRoomsNotFound">

                                <div class="col-sm-12 mt-xl text-bold text-danger" style="font-size: 16px;">
                                    Las fechas ingresadas no están disponibles en este hotel, favor de
                                    seleccionar otras fechas u otro hotel.
                                </div>

                            </div>

                        </div>




                        <div class="col-sm-2 pl pr">
                            <div class="col-sm-12 text-center">
                                <h3 class="similar-package-title">{% trans %}
                                    page.web.labe.reserva.similar.package{% endtrans %}</h3>
                            </div>
                            <div class="col-sm-12 pl-n pr-n text-center"
                                 data-ng-repeat="package in ctrlWeb.listItemsSimilar.data">
                                <a href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/paquete/detail/id/[[package.id]]">
                                    <img src="{{ asset('[[ package.path ]]') }}" class="img-similar img-thumbnail"/></a>
                                <br>
                                <span class="text-center">[[ package.descripcion ]]</span> <br>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <br>
                                <span class="text-bold text-center">$[[ package.costo | myCurrency2 ]] [[ package.simbolo ]]</span>
                                <hr style="border-top: 1px solid rgb(239, 182, 78) !important;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="pathSimilars" value="{{ path('paquete_find_list_similares') }}">
            <form action="{{ path('web_hotel_reserva') }}" id="frmReserveHotel" method="post" style="display: none;">
                <input type="hidden" name="idHotel" value="{{ hotel.id }}"/>
                <input type="hidden" name="idHabitacion" id="idHabitacion"/>
                <input type="hidden" name="fechaInicio" id="fechaInicio"/>
                <input type="hidden" name="fechaFin" id="fechaFin"/>
                <input type="hidden" name="adultos" id="adultsHidden"/>
                <input type="hidden" name="menores" id="minorsHidden"/>
                <input type="hidden" name="tipoHabitacion" id="tipoHabitacion"/>
                <input type="hidden" name="finalCost" id="finalCost"/>
            </form>

        </div>

        <div class="modal" id="modalMapa">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">{% trans %}page.web.labe.reserva.general.mapa{% endtrans %} {{ hotel.nombreHotel }}</h2>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row">
                            {{ hotel.mapa | raw }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}button.label.close{% endtrans %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script>
            $(function(){
                $('.datepicker').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                });
            });

            function cambiaFechaPaquete() {
                var date = $("#dateFrom").val();
                $("#dateTo").val(moment(getDate(date)).add(1, 'day').format('DD/MM/YYYY'));
            }
            function getDate(date){
                var arrayDate = date.split('/');
                return arrayDate[2]+'-'+arrayDate[1]+'-'+arrayDate[0];
            }

            function preViewMap() {
                $("#modalMapa").modal();
            }
        </script>


    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}
