{% extends ':web:TemplateVisitaYucatanDetail.html.twig' %}


{% block section %}

    {% block content %}
        <div class="container-fluid" data-ng-controller="WebTourController as ctrlWeb" ng-init="ctrlWeb.initTour({{ tour.tarifamenor }}, {{ tour.tarifaadulto }}, {{ tour.tipoCambio }}, {{ tour.id }});">
            <input type="hidden" value="{{ tour.simboloMoneda }}" id="symbolCurrencyHidden"/>

            <div class="row background-gray-light">
                <div class="col-sm-12">
                    <div class="container-main-header row" style="background-image: url({{ asset('bundles/VisitaYucatanBundle/img/web/banner.jpg') }}) !important;">
                        <div class="col-sm-6 mb-md mt-md">
                            <div class="col-sm-6 z-index-">
                                <a href="{{ asset(tour.principalImage) }}">
                                    <img src="{{ asset(tour.principalImage) }}" class="img-thumbnail img-main box-shadow rotate-5-g img-main-detail"/>
                                </a>
                            </div>
                            <div class="col-sm-6 mt-xxl">
                                <h2 class="text-danger text-bold mt-xxl font-family-raleway">{{ tour.nombreTour }}</h2>
                                <div class="box-circuit text-bold text-italic text-center">
                                    <div class="first-part-box">
                                        {% trans %}page.web.label.circuit{% endtrans %}
                                    </div>
                                    <div class="second-part-box">
                                        {{ tour.circuito }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="seconds-images mt-xl text-right">
                                {% for imagen in tour.imagesTour %}
                                    <a href="localhost{{ asset(imagen.path) }}">
                                        <img src="{{ asset(imagen.path) }}" width="110px" height="80px" class="border-img-detail img-preview-detail-main img-seconds-details"/>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row container-body- background-gray-light">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 content-body-detail pr-n pl-n">
                            <div class="col-sm-12">
                                <h4 class="text-uppercase text-bold color-text-pink">{% trans %}page.web.label.description{% endtrans %}</h4>
                                <hr style="border-top: 1px solid rgb(239, 182, 78) !important;">
                                {{ tour.nombreTour }} <br>
                                {{ tour.circuito }}
                            </div>
                            <div class="col-sm-12 color-text-gray-primary mt fnt-sz-12 contenedor-description">
                                {{ tour.descripcionTour | raw }}
                            </div>
                            <div class="col-sm-12 background-element-pink mt-lg">
                                <span class="fnt-sz-20 text-bold text-italic color-text-white">{% trans %}page.web.label.reserva.book.now{% endtrans %}</span>
                            </div>
                            <form action="{{ path('web_tour_reserva') }}" method="POST">
                            <div class="col-sm-12 mt-xxl">
                                    <input type="hidden" value="{{ tour.id }}" name="idTour"/>

                                    <div class="col-sm-4">
                                        <label class="oswaldo color-text-pink">{% trans %}page.web.labe.reserva.tour.del.tour.date{% endtrans %}:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="fechaReserva" value="{{ fechaReserva }}" class="datepicker form-control"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="oswaldo color-text-pink">{% trans %}page.web.labe.reserva.tour.minors{% endtrans %}:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-child"></i></span>
                                            <select name="numeroMenores" data-ng-model="ctrlWeb.totalPersons.numeroMenores" ng-change="ctrlWeb.recalculateCostTour()" class="form-control">
                                                <option value='0'>0</option>
                                                <option value='1'>1</option>
                                                <option value='2'>2</option>
                                                <option value='3'>3</option>
                                                <option value='4'>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="oswaldo color-text-pink">{% trans %}page.web.labe.reserva.tour.adults{% endtrans %}:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-group"></i></span>
                                            <select name="numeroAdultos" data-ng-model="ctrlWeb.totalPersons.numeroAdultos" ng-change="ctrlWeb.recalculateCostTour()" class="form-control">
                                                <option value='0'>0</option>
                                                <option value='1'>1</option>
                                                <option value='2'>2</option>
                                                <option value='3'>3</option>
                                                <option value='4'>4</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-sm-12 mt-xxl text-right">
                                <h2 class="text-bold mb-n reserva-now-tour">
                                    {% trans %}page.web.label.reserva.book.now{% endtrans %}
                                </h2>

                                <div class="precioTours" id="tarifa_6">
                                    <label class="text-italic mb-n"><span>2</span> {% trans %}page.web.labe.reserva.tour.adults{% endtrans %},
                                        {% trans %}page.web.labe.reserva.included.taxes{% endtrans %}</label>
                                    <h4 class="text-bold mb-n mt-n">{% trans %}page.web.labe.reserva.transportation.from{% endtrans %} {{ tour.origen }}</h4>
                                    <button type="submit" class="btn btn-warning" id="totalCostTour">
                                        ${{ tour.costTwoAdults }} {{ tour.simboloMoneda }}
                                    </button>
                                </div>
                            </div>
                            </form>

                            <div class="col-sm-12 mt-xxl text-right text-italic">
                                Para reservar presione el boton del importe a pagar / <br />To book press the button of the amount payable
                            </div>

                        </div>
                        <div class="col-sm-2 pl pr">
                            <div class="col-sm-12 text-center">
                                <h3 class="similar-package-title">{% trans %}page.web.labe.reserva.similar.package{% endtrans %}</h3>
                            </div>
                            <div class="col-sm-12 pl-n pr-n text-center" data-ng-repeat="tourDetail in ctrlWeb.listItemsSimilar.data">

                                <a href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/tour/detail/id/[[tourDetail.id]]">
                                    <img src="{{ asset('[[ tourDetail.imagen ]]') }}" class="img-similar img-thumbnail"/>
                                </a>
                                <br>
                                <span class="text-center">[[ tourDetail.nombre ]] [[tourDetail.id]]</span> <br>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <br>
                                <span class="text-bold text-center">Adultos: $[[ tourDetail.tarifaadulto | myCurrency2 ]] [[ tourDetail.simbolomoneda ]]</span><br>
                                <span class="text-bold text-center">Menores: $[[ tourDetail.tarifamenor | myCurrency2 ]] [[ tourDetail.simbolomoneda ]]</span>
                                <hr style="border-top: 1px solid rgb(239, 182, 78) !important;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="{{ path('tours_find_list_similares') }}" id="toursSimilars"/>

        </div>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script>
            $(function(){
                $('.datepicker').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    startDate: '+2d'
                });
            });
        </script>

    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}