{% extends ':web:TemplateVisitaYucatan.html.twig' %}


{% block section %}

    {% block content %}

        <section data-ng-controller="WebPaqueteController as paqWebVM" ng-init="paqWebVM.initPaquete('{{ paquete.combinacionesPaquete | json_encode() }}');">
            <div id="content">
                
                <article>
                    <div class="border-top"></div>
                    <div class="section-left">
                        <h2 class="titulo-top">{{ paquete.nombrePaquete }}</h2>
                        <figure class="img1 view">
                            <a href="toulink">
                                <img src="{{ asset(paquete.principalImage) }}">
                            </a>

                            <div class="mask">
                                <a href="resevalink"><h2>{% trans %}page.web.label.tours.book.now{% endtrans %}</h2></a>
                            </div>
                        </figure>
                        <figure class="img2">
                            <img src="{{ asset('bundles/VisitaYucatanBundle/img/web/seccion-estrellas.png') }}">
                            <figcaption class="fondo-stars">
                                <span class="estrella texto"></span>
                                <span class="estrella icon-star-full estrella1"></span>
                                <span class="estrella icon-star-full estrella2"></span>
                                <span class="estrella icon-star-full estrella3"></span>
                                <span class="estrella icon-star-full estrella4"></span>
                                <span class="estrella icon-star-full estrella5"></span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="detalles">

                        <hgroup class="titulos">
                            <h2>{{ paquete.nombrePaquete }}</h2>

                            <h3>{{ paquete.circuito }}</h3>
                        </hgroup>

                    </div>
                </article>
                <div>
                    <h2 style="margin-bottom:15px">Imagenes del paquete</h2>
                   
                    {% for imagen in paquete.imagesPaquete %}
                        <div style="display:inline-block">
                            <img src="{{ asset(imagen.path) }}" width="80px" height="80px" /> &nbsp;
                        </div>
                    
                    {% endfor %}
                </div>
                <div style="margin-top:15px">
                    Habitaciones :
                    <select name="habitaciones" ng-model="paqWebVM.habitacion" ng-change="paqWebVM.changeHabitacion(paqWebVM.habitacion)">
                        <option value="sencillo">Sencillo</option>
                        <option value="doble">Doble</option>
                        <option value="triple">Triple</option>
                        <option value="cuadruple">Cuadruple</option>
                    </select>
                    <div ng-repeat="h in paqWebVM.habCombinaciones track by $index">
                        <div>
                            <span>[[h.nomHotel]]</span>
                            <span >[[h.costo]]</span>s
                            <a href="/visitayucatan2.0/paquete/reserva/[[h.id]]">Reserva</a>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:15px;">
                    <h2>Descripcion paquete</h2>
                    <p>{{paquete.descripcionLarga}}</p>
                </div>
                <div style="margin-bottom:15px;">
                    <h2>Itinerario</h2>
                    <p>{{paquete.itinerario}}</p>
                </div>
                <div>
                    <h2>Incluye</h2>
                    <p>{{paquete.incluye}}</p>
                </div>
                
            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </section>
    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script>
            $(function(){
                $('.datepicker').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    startDate: '+2d'
                });
            });
        </script>

    {% endblock %}


    {% block footer %}
        {{ parent() }}
{% endblock %}

{% endblock %}