{% extends ':web:TemplateVisitaYucatan.html.twig' %}

{% block section %}

    {% block content %}
        <section>
            <div id="content">

                {% if(pageDescription) %}

                    <div class="introduccion">
                        <div id="izquierdo">
                            <img src="{{ asset('bundles/VisitaYucatanBundle/img/web/hoteles1.png') }}">
                        </div>
                        <div id="read-left">
                            <div class="publireportaje">
                                <div>
                                    {{ descripcionCorta | raw }}
                                </div>
                        <span id="btnleermas" class="lectura">{% trans %}
                            page.web.label.tours.read.more{% endtrans %}</span>
                            </div>
                            <div id="contenedorreportajeb" class="publireportajeb" style="display:none;">
                                <div>
                                    {{ pageDescription | raw }}
                                </div>
                        <span id="btnleermenos" class="lectura">{% trans %}
                            page.web.label.tours.read.less{% endtrans %}</span>
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if(hotels.count) %}

                    {% for hotel in hotels %}
                        <article id="hotel">
                            <div class="border-top"></div>
                            <div class="section-left">
                                <h2 class="titulo-top">{{ hotel.nombreHotel }}</h2>
                                <div class="img1 view">
                                    <a href="{{ path('web_hotel_detail', {'id': hotel.id}) }}">
                                        <img src="{{ asset(hotel.principalImage) }}"/>
                                    </a>
                                    <div class="mask">
                                        <a href="<? echo $link; ?>"><h2>{% trans %}page.web.label.tours.book.now{% endtrans %}</h2></a>
                                    </div>
                                </div>
                                <figure class="img2">
                                    <img src="{{ asset('bundles/VisitaYucatanBundle/img/web/seccion-estrellas.png') }}"/>
                                    <figcaption class="fondo-stars">
                                        <span class="estrella texto"></span>
                                        {% for i in range(1 , hotel.estrellas) %}
                                            <span class="estrella icon-star-full estrella{{ i }}"></span>
                                        {% endfor %}
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="detalles">
                                <hgroup class="titulos">
                                    <h2> {{ hotel.nombreHotel }} </h2>
                                </hgroup>
                                <p class="descripciones">
                                    {{ hotel.descripcion | raw }}
                                </p>

                            </div>
                            <div class="img3">
                                <div class="detalles-precio">
                                    <div class="content-precios">
                                        <div class="precios-hotel">
                                            <p class="precio-top texto-top">{% trans %}page.web.label.hotels.price.since{% endtrans %}:</p>
                                            <p class="precio">${{ hotel.tarifa }} {{ hotel.simboloMoneda }}</p>

                                            <div class="uno">
                                                <p>{% trans %}page.web.label.hotels.price.per.person{% endtrans %}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="informacion-detalles">
                                        <a href="{{ path('web_hotel_detail', {'id': hotel.id}) }}" title="Ver más información"><p class="first-texto">{% trans %}page.web.label.hotels.more.information{% endtrans %}</p>
                                            <p class="second-texto">
                                                <span class="icon-play3"></span>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}

                {% else %}

                    <div class="not-found">
                        {% trans %}page.web.label.hotels.not.found{% endtrans %}
                    </div>

                {% endif %}

            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </section>
    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}