{% extends ':web:TemplateVisitaYucatan.html.twig' %}

{% block section %}

    {% block content %}
        <section>
            <div id="content">

                {% if(pageDescription) %}

                    <div class="introduccion">
                        <div id="izquierdo">
                            <img src="{{ asset('bundles/VisitaYucatanBundle/img/web/paquetes-adorno.png') }}">
                        </div>
                        <div id="read-left">
                            <div class="publireportaje">
                                <div>
                                    {{ descripcionCorta | raw }}
                                </div>
                        <span id="btnleermas" class="lectura">{% trans %}
                            page.web.label.tours.read.more{% endtrans %}</span>
                            </div>
                            <div id="contenedorreportajeb" class="publireportajeb" style="display:none;">
                                <div>
                                    {{ pageDescription | raw }}
                                </div>
                        <span id="btnleermenos" class="lectura">{% trans %}
                            page.web.label.tours.read.less{% endtrans %}</span>
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if(paquetes.count) %}
                    {% for paquete in paquetes %}
                        <article>
                            <div class="border-top"></div>
                            <div class="section-left">
                                <h2 class="titulo-top">{{ paquete.nombrePaquete }}</h2>
                                <figure class="img1 view">
                                    <a href="{{ path('web_paquete_detail', {'id': paquete.id}) }}">
                                        <img src="{{ asset(paquete.principalImage) }}" alt="{{ paquete.nombrePaquete }}" title="{{ paquete.nombrePaquete }}">
                                    </a>

                                    <div class="mask">
                                        <a href="{{ path('web_paquete_detail', {'id': paquete.id}) }}"><h2>{% trans %}page.web.label.tours.book.now{% endtrans %}</h2></a>
                                    </div>
                                </figure>
                            </div>
                            <div class="detalles">

                                <hgroup class="titulos">
                                    <h2>{{ paquete.nombrepaquete }}</h2>

                                    <h3>{{paquete.circuito}}</h3>
                                </hgroup>
                                <p class="descripciones">
                                    {{ paquete.descripcionLarga | raw }}
                                </p>

                            </div>
                            <div class="img3">
                                <div class="detalles-precio">

                                    <p class="parrafo-detalle arriba">{% trans %}page.web.label.hotels.price.since{% endtrans %}:</p>

                                    <p class="parrafo-detalle abajo">
                                        ${{ paquete.costoDoble }} {{ paquete.simboloMoneda }}
                                    </p>
                                    <p style="    margin-top: 15px;font-size: 12px;">{% trans %}page.web.labe.reserva.general.price.per.person{% endtrans %}</p>

                                    <div class="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="informacion-detalles">
                                        <p class="first-texto">
                                            <a href="{{ path('web_paquete_detail', {'id': paquete.id}) }}">{% trans %}page.web.label.tours.more.information{% endtrans %}</a>
                                        </p>

                                        <p class="second-texto"><span class="icon-play3"></span></p>
                                    </div>

                                </div>
                            </div>
                        </article>
                    {% endfor %}
                {% else %}
                    <div class="not-found">
                        {% trans %}page.web.label.packages.not.found{% endtrans %}
                    </div>
                {% endif %}

            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </section>
    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}