{% extends ':web:TemplateVisitaYucatan.html.twig' %}


{% block section %}

    {% block content %}
   

        <style type="text/css" media="screen">
            #center{
                margin: 0px auto;
                padding: 0;
            }

            .menu_simple ul {



                padding: 0;

                width:250px;

                list-style-type: none;

            }



            .menu_simple ul li a {

                text-decoration: none;

                color: white;

                padding: 10.5px 11px;

                background-color: #28B1CC;

                display:block;

                font-size: 1.3em;

            }

            .menu_simple ul li a:hover, .menu_simple ul li .current {

                color: black;

                background-color: #E4FAFA;

            }

            #description{
             background-color: #FFFFFF;
             float: right;
             width: 68%;
             min-height: 500px;
             padding: 11px;
             margin-right: 6px;

             -webkit-box-shadow: 0px 0px 5px 0px rgba(97,96,97,1);
             -moz-box-shadow: 0px 0px 5px 0px rgba(97,96,97,1);
             box-shadow: 0px 0px 5px 0px rgba(97,96,97,1);

         }

         #menu{
            float: left;
            margin-left: 11px;
        }

        #content{
            margin-top: 2em;
            width: 82%;
        }

        h1.title{
            font-size: 1.5em;
            padding: 7px 0;

        }

        ul.tabs li.activa a{
            background-color:#E4FAFA;
            color: black;
        }




    </style>


    <section>

        <div id="content">

            <div id="menu">

                <div class="menu_simple">
                    <ul class="tabs" style="background-position-y: 195px;">
                        {% for peninsula in peninsulas %}
                        <li><a href="#{{ peninsula.id }}">{{ peninsula.nombre }}</a></li>
                        {% endfor %}
                        


                    </ul>
                </div>
            </div> 

            <section id="description">

                <div class="descPeninsula currentdesc  El-Inicio" style="">
                    <div class="contenedor_tab">
                        {% for peninsula in peninsulas %}
                        <div id="{{ peninsula.id }}" style="display:none;" class="contenido_tab">
                            
                       
                        <h1 class="title">{{peninsula.nombre}}</h1>
                        <p>{{ peninsula.descripcionidioma | raw }}</p>
                         </div>
                     {% endfor %}
                    </div>
                    
             </div>
         </section> 
     </div>
     {% block aside %}
        {{ parent() }}
    {% endblock %}

</section>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
//$(".contenido_tab").hide(); //Ocultar capas
$("ul.tabs li:first").addClass("activa").show(); //Activar primera pestaña
$(".contenido_tab:first").show(); //Mostrar contenido primera pestaña

// Sucesos al hacer click en una pestaña
$("ul.tabs li").click(function() {
$("ul.tabs li").removeClass("activa"); //Borrar todas las clases "activa"
$(this).addClass("activa"); //Añadir clase "activa" a la pestaña seleccionada
$(".contenido_tab").hide(); //Ocultar todo el contenido de la pestaña
var activatab = $(this).find("a").attr("href"); //Leer el valor de href para identificar la pestaña activa 
$(activatab).fadeIn(); //Visibilidad con efecto fade del contenido activo
return false;
});
});
</script>
    {% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}

{% endblock %}