{% extends ':web:TemplateVisitaYucatanDetail.html.twig' %}


{% block section %}

    {% block content %}
        <div class="container-fluid" data-ng-controller="WebPaqueteController as paqWebVM" data-ng-init="paqWebVM.initReservaPaquete('{{ detailPaquete | json_encode() }}','{{ paqueteCombinacion.combinacionesPaquete | json_encode() }}','{{importe}}', '{{ app.request.getBaseURL() }}',
        {{ paquete.id }}, {{ paquete.idIdioma }}, {{ paquete.idMoneda }})">
            {#{{ dump(paquete) }}#}
            <div class="row background-gray-light">
                <div class="col-sm-12">
                    <div class="container-main-header row"
                         style="background-image: url({{ asset('bundles/VisitaYucatanBundle/img/web/banner.jpg') }}) !important;">
                        <div class="col-sm-6 mb-md mt-md">
                            <div class="col-sm-6 z-index-">
                                <a href="{{ asset(paquete.principalImage) }}">
                                    <img src="{{ asset(paquete.principalImage) }}"
                                         class="img-thumbnail img-main box-shadow rotate-5-g img-main-detail"/>
                                </a>
                            </div>
                            <div class="col-sm-6 mt-xxl">
                                <h2 class="text-danger text-bold mt-xxl font-family-raleway">{{ paquete.nombrePaquete }}</h2>
                                <div class="box-circuit text-bold text-italic text-center">
                                    <div class="first-part-box">
                                        {% trans %}page.web.label.circuit{% endtrans %}
                                    </div>
                                    <div class="second-part-box">
                                        {{ paquete.circuito }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="seconds-images mt-xl text-right">
                                {% for imagen in paquete.imagesPaquete %}
                                    <a href="localhost{{ asset(imagen.path) }}">
                                        <img src="{{ asset(imagen.path) }}" width="110px" height="80px"
                                             class="border-img-detail img-preview-detail-main img-seconds-details"/>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row container-body- background-gray-light">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 content-body-detail pr-n pl-n mt">
                            <div class="col-sm-12">
                                <div class="col-sm-6"><h4 class="text-uppercase text-bold color-text-pink">{% trans %}page.web.labe.reserva.prepare.reservation{% endtrans %}</h4></div>
                                <div class="col-sm-12">
                                    <hr style="border-top: 1px solid rgb(239, 182, 78) !important;" class="mt-n">
                                </div>
                            </div>
                            <form novalidate name="formReserva">
                                <div class="col-sm-12">
                                    <div class="col-sm-7">
                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input" data-ng-class="{ 'required' : formReserva.fechaPaquete.$invalid && !formReserva.fechaPaquete.$pristine }">
                                                <label for="fechaPaquete" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.date.tu.paquete{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" readonly data-ng-model="paqWebVM.ventaCompletaTO.checkIn"
                                                           onchange="cambiaFechaPaquete()"
                                                           id="fechaPaquete" name="fechaPaquete" class="form-control datepicker-fp"/>
                                                        </div>
                                            <span ng-show="formReserva.fechaPaquete.$invalid && !formReserva.fechaPaquete.$pristine" class="required">
                                                {% trans %}page.web.labe.reserva.tour.tour.date.required{% endtrans %}
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input" data-ng-class="{ 'required' : formReserva.fechaSalida.$invalid && !formReserva.fechaSalida.$pristine }">
                                                <label for="fechaSalida" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.fecha.salida{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" readonly data-ng-model="paqWebVM.ventaCompletaTO.checkOut" id="fechaSalida"
                                                           name="fechaSalida" class="form-control datepicker-fs"/>
                                                        </div>
                                            <span ng-show="formReserva.fechaSalida.$invalid && !formReserva.fechaSalida.$pristine" class="required">
                                                {% trans %}page.web.labe.reserva.tour.tour.date.required{% endtrans %}
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input" data-ng-class="{ 'required' : formReserva.nombre.$invalid && !formReserva.nombre.$pristine }">
                                                <label for="nombre" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.tour.name{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.nombres" required id="nombre" name="nombre" class="form-control"/>
                                            <span ng-show="formReserva.nombre.$invalid && !formReserva.nombre.$pristine" class="required">
                                                {% trans %}page.web.labe.reserva.tour.name.required{% endtrans %}
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input" data-ng-class="{ 'required' : formReserva.apellidos.$invalid && !formReserva.apellidos.$pristine }">
                                                <label for="apellidos" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.tour.last.name{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.apellidos" id="apellidos" name="apellidos" required class="form-control"/>
                                            <span ng-show="formReserva.apellidos.$invalid && !formReserva.apellidos.$pristine" class="required">
                                                {% trans %}page.web.labe.reserva.tour.last.name.required{% endtrans %}
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input" data-ng-class="{ 'required' : formReserva.lada.$invalid && !formReserva.lada.$pristine }">
                                                <label for="lada" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.tour.lada{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.lada" required id="lada" name="lada" class="form-control"/>
                                            <span ng-show="formReserva.lada.$invalid && !formReserva.lada.$pristine" class="required">
                                                {% trans %}page.web.labe.reserva.tour.lada.required{% endtrans %}
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input" data-ng-class="{ 'required' : formReserva.telefono.$invalid && !formReserva.telefono.$pristine }">
                                                <label for="telefono" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.tour.phone{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.telefono" required id="telefono" name="telefono" class="form-control"/>
                                            <span ng-show="formReserva.telefono.$invalid && !formReserva.telefono.$pristine" class="required">
                                                {% trans %}page.web.labe.reserva.tour.phone.required{% endtrans %}
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input" data-ng-class="{ 'required' : formReserva.email.$invalid && !formReserva.email.$pristine }">
                                                <label for="email" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.tour.email{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="email" data-ng-model="paqWebVM.ventaCompletaTO.email" required id="email" name="email" class="form-control"/>
                                            <span ng-show="formReserva.email.$invalid && !formReserva.email.$pristine" class="required">
                                                {% trans %}page.web.labe.reserva.tour.email.required{% endtrans %}
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input" data-ng-class="{ 'required' : formReserva.ciudad.$invalid && !formReserva.ciudad.$pristine }">
                                                <label for="ciudad" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.ciudad.origen{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.ciudad" required id="ciudad" name="ciudad" class="form-control"/>
                                            <span ng-show="formReserva.ciudad.$invalid && !formReserva.ciudad.$pristine" class="required">
                                                {% trans %}page.web.labe.reserva.tour.city.required{% endtrans %}
                                            </span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input">
                                                <label for="numeroAdultos" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.tour.adults{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-group"></i></span>
                                                        <select ng-model="paqWebVM.reservar.adultos" class="form-control"
                                                                ng-change="paqWebVM.ocupacionHab(paqWebVM.reservar.adultos,paqWebVM.reservar.menores.value)">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input">
                                                <label for="numeroMenores" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.tour.minors{% endtrans %}
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-child"></i></span>
                                                        <select ng-options="item as item.label for item in paqWebVM.menores track by item.id" class="form-control" id="numeroMenores"
                                                                ng-model="paqWebVM.reservar.menores" ng-change="paqWebVM.ocupacionHab(paqWebVM.reservar.adultos,paqWebVM.reservar.menores.value)">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-sm-12 mt-xxl mb ml">
                                            <span class="background-element-pink color-text-white text-bold p">
                                                    {% trans %}page.web.labe.reserva.importe{% endtrans %}
                                                <span id="totalCostTour">$ [[paqWebVM.importeTotal | myCurrency2]] [[paqWebVM.simbolCurrency]]</span>
                                            </span>
                                        </div>

                                    </div>

                                    <div class="col-sm-5">

                                        <div class="col-sm-12">
                                            <div class="form-group mb">
                                                <label class="control-label text-bold mb-n">{% trans %}page.web.labe.reserva.paquete.seleccionado{% endtrans %}:</label>
                                                <br>
                                                {{ paquete.nombrePaquete }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb">
                                                <label class="control-label text-bold mb-n">{% trans %}page.web.labe.reserva.hotel.seleccionado{% endtrans %}:</label>
                                                <br>
                                                [[paqWebVM.paqueteCombinacion.nomhotel]]
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb">
                                                <label class="control-label text-bold mb-n">{% trans %}page.web.labe.reserva.tipo.habitacion{% endtrans %}:</label>
                                                <br>
                                                [[paqWebVM.detailReserva.ocupacion]]
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb">
                                                <label class="control-label text-bold mb-n">{% trans %}page.web.labe.reserva.tipo.estadia{% endtrans %}:</label>
                                                <br>
                                                {{ paquete.dias }} {% trans %}page.web.labe.reserva.dias{% endtrans %}
                                                {% trans %}page.web.labe.reserva.y{% endtrans %} {{ paquete.noches }} {% trans %}page.web.labe.reserva.noches{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb">
                                                <label class="control-label text-bold mb-n">{% trans %}page.web.labe.reserva.tarifa.adulto.opcion{% endtrans %} [[paqWebVM.detailReserva.ocupacion]]:</label>
                                                <br>
                                                [[paqWebVM.detailReserva.costo | myCurrency2 ]] [[paqWebVM.simbolCurrency]]
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb">
                                                <label class="control-label text-bold mb-n">{% trans %}page.web.labe.reserva.price.per.minor{% endtrans %}:</label>
                                                <br>
                                                [[paqWebVM.paqueteCombinacion.costomenor | myCurrency2 ]] [[paqWebVM.simbolCurrency]]
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10 pl-n pr-n" style="border: 1px solid #bdbdbd;">
                                    <div class="col-sm-12">
                                        <h4 class="text-info">{% trans %}page.web.labe.reserva.hotel.vuelo{% endtrans %}</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input">
                                                <label for="numeroVuelo" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.hotel.numero.vuelo{% endtrans %}:
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.numeroVuelo" id="numeroVuelo" name="numeroVuelo" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input">
                                                <label for="aerolinea" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.hotel.aerolinea{% endtrans %}:
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.aerolinea" id="aerolinea" name="aerolinea" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input">
                                                <label for="fechaLlegada" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.hotel.fecha.llegada{% endtrans %}:
                                                </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.fechaLlegada" readonly id="fechaLlegada" name="fechaLlegada" class="form-control datepicker"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt">
                                            <div class="form-group-input">
                                                <label for="horaLlegada" class="col-sm-4 pl-n pr-n">
                                                    {% trans %}page.web.labe.reserva.hotel.hora.llegada{% endtrans %}:
                                                </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                        <input type="text" data-ng-model="paqWebVM.ventaCompletaTO.horaLlegada" readonly id="horaLlegada" name="horaLlegada" class="form-control timepicker"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>

                                <div class="col-sm-12">
                                    <div class="col-sm-12 mt-xxl text-left mb-xxl ml">
                                        <input type="button" data-ng-click="paqWebVM.reservarPackage(formReserva.$valid)"
                                               data-ng-disabled="formReserva.$invalid"
                                               value="{% trans %}page.web.label.reserva.book.now{% endtrans %}" class="btn btn-primary p"/>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <div class="col-sm-2 pl pr">
                            <div class="col-sm-12 text-center">
                                <h3 class="similar-package-title">{% trans %}
                                    page.web.labe.reserva.similar.package{% endtrans %}</h3>
                            </div>
                            <div class="col-sm-12 pl-n pr-n text-center"
                                 data-ng-repeat="package in paqWebVM.listItemsSimilar.data">
                                <a href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/paquete/detail/id/[[package.id]]">
                                    <img src="{{ asset('[[ package.path ]]') }}" class="img-similar img-thumbnail"/></a>
                                <br>
                                <span class="text-center">[[ package.descripcion ]]</span> <br>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <i class="fa fa-star color-text-white"></i>
                                <br>
                                <span class="text-bold text-center">$[[ package.costo | myCurrency2 ]] [[ package.simbolo ]]</span>
                                <hr style="border-top: 1px solid rgb(239, 182, 78) !important;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="pathSimilars" value="{{ path('paquete_find_list_similares') }}">

        </div>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/VisitaYucatanBundle/assets/plugins/form-daterangepicker/moment.min.js') }}" type="text/javascript"></script>
        <script>
            var diasPaquete = '{{ paquete.dias }}';
            $(function(){
                $('.datepicker-fp').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    startDate: '+2d',
                    setDate: new Date()
                });
                $('.datepicker-fs').datepicker({format: 'dd/mm/yyyy'});
                $('.datepicker').datepicker({format: 'dd/mm/yyyy', setDate: new Date()});
                $('.timepicker').timepicker({
                    minuteStep: 5,
                    showInputs: false,
                    disableFocus: true
                });
            });

            function cambiaFechaPaquete() {
                var packageDate = $("#fechaPaquete").val();
                $(".datepicker-fs").val(moment(getDate(packageDate)).add(parseInt(diasPaquete), 'day').format('DD/MM/YYYY'));
            }
            function getDate(date){
                var arrayDate = date.split('/');
                return arrayDate[2]+'-'+arrayDate[1]+'-'+arrayDate[0];
            }
        </script>

    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}