{% extends ':web:TemplateVisitaYucatan.html.twig' %}


{% block section %}

    {% block content %}
        <section data-ng-controller="WebTourController as ctrlWeb" ng-init="ctrlWeb.initReservaTour('{{ tour.fechaReserva }}', '{{ tour.totalAdultos }}', '{{ tour.totalMenores }}', {{ tour.tarifamenor }}, {{ tour.tarifaadulto }}, {{ tour.tipoCambio }}, {{ tour.minimopersonas }});">
            <input type="hidden" value="{{ tour.simboloMoneda }}" id="symbolCurrencyHidden"/>
            <div id="content">

                <h3>Preparemos su reservacion</h3>

                <br>
                <form novalidate name="formReserva">
                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.nombres.$invalid && !formReserva.nombres.$pristine }">
                        <label for="nombres">
                            Nombres
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.nombres" required id="nombres" name="nombres"/>
                                <span ng-show="formReserva.nombres.$invalid && !formReserva.nombres.$pristine" class="required">
                                    El nombre es requerido
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.apellidos.$invalid && !formReserva.apellidos.$pristine }">
                        <label for="apellidos">
                            Apellidos
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.apellidos" id="apellidos" name="apellidos" required/>
                                <span ng-show="formReserva.apellidos.$invalid && !formReserva.apellidos.$pristine" class="required">
                                    El apellidos es requerido
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.apellidos.$invalid && !formReserva.apellidos.$pristine }">
                        <label for="apellidos">
                            Lada
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.lada" required/><br>
                                <span ng-show="formReserva.apellidos.$invalid && !formReserva.apellidos.$pristine" class="required">
                                    El apellidos es requerido
                                </span>
                        </div>
                    </div>


                    telefono
                    <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.telefono" required/><br>
                    correo
                    <input type="email" data-ng-model="ctrlWeb.ventaCompletaTO.email" required/><br>
                    ciudad
                    <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.ciudad" required/> <br>
                    hotel
                    <input type="text" required/> <br>
                    fecha tour:
                    <input type="text" name="fechaReserva" data-ng-model="ctrlWeb.ventaCompletaTO.checkIn" class="datepicker"/> <br>
                    Menores:
                    <select name="numeroMenores" data-ng-model="ctrlWeb.totalPersons.numeroMenores" ng-change="ctrlWeb.recalculateCostTour()">
                        <option value='0'>0</option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                    </select>
                    Adultos:
                    <select name="numeroAdultos" data-ng-model="ctrlWeb.totalPersons.numeroAdultos" ng-change="ctrlWeb.recalculateCostTour()">
                        <option value='0'>0</option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                    </select>

                    <br>
                    <input type="button" data-ng-click="ctrlWeb.createRerservaHotel()"
                           data-ng-disabled="formReserva.$invalid"
                           value="Reservar"/>
                </form>

                <br><br>
                tour seleccionado = {{ tour.nombreTour }} <br>
                precio adulto = {{ tour.tarifaAdultoFormat }} {{ tour.simboloMoneda }}<br>
                precio menor = {{ tour.tarifaMenorFormat }} {{ tour.simboloMoneda }}<br><br>
                Costo total = <span id="totalCostTour">${{ costoTotal }} {{ tour.simboloMoneda }}</span><br><br>
                Minimo de personas = {{ tour.minimopersonas }}

            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </section>
    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script>
            $(function(){
                $('.datepicker').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    startDate: '+2d'
                });
            });
        </script>

    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}