{% extends ':web:TemplateVisitaYucatan.html.twig' %}


{% block section %}

    {% block content %}
        <section data-ng-controller="WebTourController as ctrlWeb" ng-init="ctrlWeb.initReservaTour('{{ tour.fechaReserva }}', '{{ tour.totalAdultos }}', '{{ tour.totalMenores }}', {{ tour.tarifamenor }}, {{ tour.tarifaadulto }}, {{ tour.tipoCambio }}, {{ tour.minimopersonas }});">
            <input type="hidden" value="{{ tour.simboloMoneda }}" id="symbolCurrencyHidden"/>
            <div id="content">

                <h3>{% trans %}page.web.labe.reserva.prepare.reservation{% endtrans %}</h3>

                <br>
                <form novalidate name="formReserva">
                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.nombres.$invalid && !formReserva.nombres.$pristine }">
                        <label for="nombres">
                            {% trans %}page.web.labe.reserva.tour.name{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.nombres" required id="nombres" name="nombres"/>
                                <span ng-show="formReserva.nombres.$invalid && !formReserva.nombres.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.name.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.apellidos.$invalid && !formReserva.apellidos.$pristine }">
                        <label for="apellidos">
                            {% trans %}page.web.labe.reserva.tour.last.name{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.apellidos" id="apellidos" name="apellidos" required/>
                                <span ng-show="formReserva.apellidos.$invalid && !formReserva.apellidos.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.last.name.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.lada.$invalid && !formReserva.lada.$pristine }">
                        <label for="lada">
                            {% trans %}page.web.labe.reserva.tour.lada{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.lada" required id="lada" name="lada"/>
                                <span ng-show="formReserva.lada.$invalid && !formReserva.lada.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.lada.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.telefono.$invalid && !formReserva.telefono.$pristine }">
                        <label for="telefono">
                            {% trans %}page.web.labe.reserva.tour.phone{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.telefono" required id="telefono" name="telefono"/>
                                <span ng-show="formReserva.telefono.$invalid && !formReserva.telefono.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.phone.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.email.$invalid && !formReserva.email.$pristine }">
                        <label for="email">
                            {% trans %}page.web.labe.reserva.tour.email{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <input type="email" data-ng-model="ctrlWeb.ventaCompletaTO.email" required id="email" name="email"/>
                                <span ng-show="formReserva.email.$invalid && !formReserva.email.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.email.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.ciudad.$invalid && !formReserva.ciudad.$pristine }">
                        <label for="ciudad">
                            {% trans %}page.web.labe.reserva.tour.city{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.ciudad" required id="ciudad" name="ciudad"/>
                                <span ng-show="formReserva.ciudad.$invalid && !formReserva.ciudad.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.city.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.hotelPickUp.$invalid && !formReserva.hotelPickUp.$pristine }">
                        <label for="hotelPickUp">
                            {% trans %}page.web.labe.reserva.tour.hotel{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.hotelPickUp" required id="hotelPickUp" name="hotelPickUp"/>
                                <span ng-show="formReserva.hotelPickUp.$invalid && !formReserva.hotelPickUp.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.hotel.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.checkIn.$invalid && !formReserva.checkIn.$pristine }">
                        <label for="checkIn">
                            {% trans %}page.web.labe.reserva.tour.tour.date{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="ctrlWeb.ventaCompletaTO.checkIn" required id="checkIn" name="checkIn"/>
                                <span ng-show="formReserva.checkIn.$invalid && !formReserva.checkIn.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.tour.date.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.numeroMenores.$invalid && !formReserva.numeroMenores.$pristine }">
                        <label for="numeroMenores">
                            {% trans %}page.web.labe.reserva.tour.minors{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <select name="numeroMenores" data-ng-model="ctrlWeb.totalPersons.numeroMenores" id="numeroMenores" data-ng-change="ctrlWeb.recalculateCostTour()">
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                            </select>
                                <span ng-show="formReserva.numeroMenores.$invalid && !formReserva.numeroMenores.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.minors.required{% endtrans %}
                                </span>
                        </div>
                    </div>

                    <div class="form-group-input" data-ng-class="{ 'required' : formReserva.numeroAdultos.$invalid && !formReserva.numeroAdultos.$pristine }">
                        <label for="numeroAdultos">
                            {% trans %}page.web.labe.reserva.tour.adults{% endtrans %}
                        </label>
                        <div class="col-sm-8">
                            <select name="numeroAdultos" data-ng-model="ctrlWeb.totalPersons.numeroAdultos" id="numeroAdultos" data-ng-change="ctrlWeb.recalculateCostTour()">
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                            </select>
                                <span ng-show="formReserva.numeroAdultos.$invalid && !formReserva.numeroAdultos.$pristine" class="required">
                                    {% trans %}page.web.labe.reserva.tour.adults.required{% endtrans %}
                                </span>
                        </div>
                    </div>


                    <br>
                    <input type="button" data-ng-click="ctrlWeb.createRerservaHotel()"
                           data-ng-disabled="formReserva.$invalid"
                           value="Reservar"/>
                </form>

                <br><br>
                tour seleccionado = {{ tour.nombreTour }} <br>
                precio adulto = {{ tour.tarifaAdultoFormat }} {{ tour.simboloMoneda }}<br>
                precio menor = {{ tour.tarifaMenorFormat }} {{ tour.simboloMoneda }}<br><br>
                Importe <span id="totalCostTour">${{ costoTotal }} {{ tour.simboloMoneda }}</span><br><br>
                Minimo de personas = {{ tour.minimopersonas }}

            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </section>
    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script>
            $(function(){
                $('.datepicker').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    startDate: '+2d'
                });
            });
        </script>

    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}