{% extends ':web:TemplateVisitaYucatan.html.twig' %}


{% block section %}

    <section>
        <div id="content">

            <div class="introduccion">
                <div id="izquierdo">
                    <img src="http://www.visitayucatan.com/imagenes/tours-adorno.png">
                </div>
                <div id="read-left">
                    <? $texto = cortarTexto($pagina["descripcion"][0], $tamano=200, $colilla="..."); ?>
                    <div class="publireportaje">
                        <div>
                            ¿Cuantas veces se puede decir, “conozco aquel lugar” en lugar de “ya estuve ahí”? Estos Tours y paquetes que ofrecemos, Están diseñados para que...
                        </div>
                        <span id="btnleermas" class="lectura">Leer más</span>
                    </div>
                    <div  id="contenedorreportajeb" class="publireportajeb" style="display:none;">
                        <div>
                            <? echo $pagina["descripcion"][0]; ?>
                        </div>
                        <span id="btnleermenos" class="lectura">Leer menos</span>
                    </div>
                </div>
            </div>

            {% for tour in tours %}
                <article>
                <div class="border-top"></div>
                <div class="section-left">
                    <h2 class="titulo-top">{{ tour.nombreTour }}</h2>
                    <figure class="img1 view">
                        <a href="toulink">
                            <img src="{{ tour.principalImage }}">
                        </a>
                        <div class="mask">
                        <a href="resevalink"><h2>¡Reserva Ahora!</h2></a>
                        </div>
                    </figure>
                    <figure class="img2">
                        <img src="files-new-design/images/seccion-estrellas.png">
                        <figcaption class="fondo-stars">
                            <span class="estrella texto"></span>
                            <span class="estrella icon-star-full estrella1"></span>
                            <span class="estrella icon-star-full estrella2"></span>
                            <span class="estrella icon-star-full estrella3"></span>
                            <span class="estrella icon-star-full estrella4"></span>
                            <span class="estrella icon-star-full estrella5"></span>
                        </figcaption>
                    </figure>
                </div>
                <div class="detalles">
                    <hgroup class="titulos">
                        <h2>{{ tour.nombreTour }}</h2>

                        <h3>{{ tour.circuito }}</h3>
                    </hgroup>
                    <p class="descripciones">
                        {{ tour.descripcionTour }}
                    </p>

                </div>
                <div class="img3">
                    <div class="detalles-precio">
                        <div class="content-precios">
                           <div class="precios-tours">
                             <p class="precio-top">Adultos:</p>
                               <p class="precio">{{ tour.tarifaadulto }} {{ tour.simboloMoneda }}</p>
                            </div>
                            <div class="precios-tours">
                                <!--Validacion que si el precio menor es mayour o igual a uno lo muestra y si el tour incluye menor-->
                                    <p class="precio-top">Menor:</p>
                                    <p class="precio">{{ tour.tarifamenor }} {{ tour.simboloMoneda }}</p>
                            </div>
                         </div>
                        <div class="informacion-detalles">
                            <p class="first-texto">
                                <a href="<? echo $link; ?>">Mas informacion</a>
                            </p>

                            <p class="second-texto"><span class="icon-play3"></span></p>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}

            <aside>
            <div class="top-aside">
            </div>
            <div class="limpiar"></div>
            <div class="caja-aside-right">
                <? //include("templates/publicidad.php"); ?>
            </div>
            <div class="cajas redes-sociales">
                <div class="redes">
                    <div class="red-left">
                        <a href="https://www.facebook.com/visitayucatan/?fref=ts">
                            <span class="icon-facebook"></span>

                            <p>FACEBOOK</p>
                        </a>
                    </div>
                    <div class="red-right">
                        <a href="https://twitter.com/VisitYucatan">
                            <span class="icon-twitter"></span>

                            <p>TWITTER</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="limpiar"></div>
        </aside>
        </div>
    </section>

{% endblock %}