{% extends '::BaseTemplate.html.twig' %}

{% block breadcrumb %}

    {{ parent() }}

{% endblock %}


{% block content %}

    <div data-widget-group="group1" class="ui-sortable">
        <div class="row ml mr">
            <h2>RESERVAS</h2>
            <table class="table">
                <thead>
                <tr>
                    <th># R</th>
                    <th>T. Reserva</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Adultos</th>
                    <th>Menores</th>
                    <th>Importe</th>
                    <th>Pagado</th>
                    <th>Panel</th>
                </tr>
                </thead>
                <tbody>
                {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.idVenta }}</td>
                        <td>
                            {% if(venta.tipoReserva == constant('VisitaYucatanBundle\\utils\\GeneralKeys::TIPO_PRODUCTO_TOUR')) %}
                                Tour
                            {% endif %}
                            {% if(venta.tipoReserva == constant('VisitaYucatanBundle\\utils\\GeneralKeys::TIPO_PRODUCTO_HOTEL')) %}
                                Hotel
                            {% endif %}
                            {% if(venta.tipoReserva == constant('VisitaYucatanBundle\\utils\\GeneralKeys::TIPO_PRODUCTO_PAQUETE')) %}
                                Paquete
                            {% endif %}
                        </td>
                        <td>{{ venta.nombres }}&nbsp;{{ venta.apellidos }}</td>
                        <td>{{ venta.telefono }}</td>
                        <td>{{ venta.email }}</td>
                        <td>{{ venta.numeroAdultos }}</td>
                        <td>{{ venta.numeroMenores }}</td>
                        <td>${{ venta.costoTotal | number_format(2) }} MXP</td>
                        <td>
                            {% if(venta.pagado) %}
                                <i class="text-success fa fa-check"></i>
                            {% else %}
                                <i class="text-danger fa fa-times"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-success-alt" href="javascript:;"><i class="fa fa-search"></i></a>
                            <a class="btn btn-success-alt" href="javascript:;"><i class="fa  fa-gears"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}