{% extends '::BaseTemplate.html.twig' %}

{% block breadcrumb %}

    {{ parent() }}

{% endblock %}


{% block content %}

    <div data-widget-group="group1" class="ui-sortable" data-ng-app="Reserva">
        <div class="row ml mr" data-ng-controller="ReservaController as ctrl" data-ng-init="ctrl.init('{{ app.request.getBaseURL() }}')">
            <h2>RESERVAS</h2>
            <table class="table">
                <thead>
                <tr>
                    <th># R</th>
                    <th>T. Reserva</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Adultos</th>
                    <th>Menores</th>
                    <th>Importe</th>
                    <th>Pagado</th>
                    <th>Panel</th>
                </tr>
                </thead>
                <tbody>
                {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.idVenta }}</td>
                        <td>
                            {% if(venta.tipoReserva == constant('VisitaYucatanBundle\\utils\\GeneralKeys::TIPO_PRODUCTO_TOUR')) %}
                                {% set path = constant('VisitaYucatanBundle\\utils\\GeneralKeys::PATH_VOUCHER_TOURS') %}
                                Tour
                            {% endif %}
                            {% if(venta.tipoReserva == constant('VisitaYucatanBundle\\utils\\GeneralKeys::TIPO_PRODUCTO_HOTEL')) %}
                                {% set path = constant('VisitaYucatanBundle\\utils\\GeneralKeys::PATH_VOUCHER_HOTELES') %}
                                Hotel
                            {% endif %}
                            {% if(venta.tipoReserva == constant('VisitaYucatanBundle\\utils\\GeneralKeys::TIPO_PRODUCTO_PAQUETE')) %}
                                {% set path = constant('VisitaYucatanBundle\\utils\\GeneralKeys::PATH_VOUCHER_PAQUETES') %}
                                Paquete
                            {% endif %}
                        </td>
                        <td>{{ venta.nombres }}&nbsp;{{ venta.apellidos }}</td>
                        <td>{{ venta.telefono }}</td>
                        <td>{{ venta.email }}</td>
                        <td>{{ venta.numeroAdultos }}</td>
                        <td>{{ venta.numeroMenores }}</td>
                        <td>${{ venta.costoTotal | number_format(2) }} MXP</td>
                        <td>
                            {% if(venta.pagado) %}
                                <i class="text-success fa fa-check"></i>
                            {% else %}
                                <i class="text-danger fa fa-times"></i>
                            {% endif %}
                        </td>
                        <td>
                            {#<a class="btn btn-success-alt" href="javascript:;" data-ng-click="ctrl.findDetalleReserva({{ venta.idVenta }})">
                                <i class="fa fa-search"></i>
                            </a>#}
                            <a class="btn btn-success-alt" href="javascript:;" data-ng-click="ctrl.displayReservaPDF({{ venta.idVenta }}, '{{ path }}')">
                                <i class="fa  fa-gears"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include '@VisitaYucatan/Default/modaldetalle.html.twig' %}
            {% include '@VisitaYucatan/Default/ModalPdfReserva.html.twig' %}
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/VisitaYucatanBundle/js/reserva/ReservaController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/VisitaYucatanBundle/js/reserva/ReservaProvider.js') }}" type="text/javascript"></script>
{% endblock %}