<aside class="test">
    <div class="top-aside">
    </div>
    <div class="limpiar"></div>
    <div class="caja-aside-right">
        <img src="{{ asset('bundles/VisitaYucatanBundle/images/banners/banner1.jpg') }}" alt="">
        <img src="{{ asset('bundles/VisitaYucatanBundle/images/banners/1.jpg') }}" alt="">
        <img src="{{ asset('bundles/VisitaYucatanBundle/images/banners/banner3.jpg') }}" alt="">
        <img src="{{ asset('bundles/VisitaYucatanBundle/images/banners/banner4.jpg') }}" alt="">
        <img src="{{ asset('bundles/VisitaYucatanBundle/images/banners/banner5.gif') }}" alt="">
        <img src="{{ asset('bundles/VisitaYucatanBundle/images/banners/banner6.jpg') }}" alt="">
    </div>
    <div class="cajas redes-sociales">
        <div class="redes">
            <div class="red-left">
                <a href="https://www.facebook.com/visitayucatan/?fref=ts">
                    <span class="icon-facebook"></span>

                    <p>{% trans %}page.web.commons.label.facebook{% endtrans %}</p>
                </a>
            </div>
            <div class="red-right">
                <a href="https://twitter.com/VisitYucatan">
                    <span class="icon-twitter"></span>

                    <p>{% trans %}page.web.commons.label.twitter{% endtrans %}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="limpiar"></div>
</aside>
