<div class="pie-pagina" data-ng-controller="WebCommonsController as ctrlCommons"
     data-ng-init="ctrlCommons.initCommons('{{ app.session.get('_locale') }}', '{{ app.session.get('_currency') }}')">
    <input type="hidden" value="{{ path('web_get_languages') }}" id="web_get_languages_path"/>
    <input type="hidden" value="{{ path('web_get_currency') }}" id="web_get_currency_path"/>
    <div class="wrap-pie">
        <div class="pie-central">

            <div class="renglon1 text-to-uppercase">
                <div class="linea">
                </div>
                <ul class="menu-footer">
                    <li><a href="{{ path('web_home') }}">{% trans %}page.web.menu.label.start{% endtrans %}</a></li>
                    <li><a href="{{ path('web_paquetes') }}">{% trans %}page.web.menu.label.packages{% endtrans %}</a>
                    </li>
                    <li><a href="{{ path('web_tours') }}">{% trans %}page.web.menu.label.tours{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="renglon2 text-to-uppercase">
                <ul class="menu-footer">
                    <li><a href="{{ path('web_hoteles_merida', { 'city': constant('VisitaYucatanBundle\\utils\\Generalkeys::CITY_MERIDA') }) }}">{% trans %}
                            page.web.menu.label.hotels{% endtrans %}</a></li>
                    <li><a href="yucatan-mexico">{% trans %}page.web.menu.label.peninsula{% endtrans %}</a></li>
                    <li><a href="{{ path('web_contacto') }}">{% trans %}page.web.menu.label.contact{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="renglon3">
                <div>
                    <input type="hidden" id="pathCatalogsReload" value="{{ path('web_configure_select') }}"/>
                    <h4 class="label-currency">{% trans %}page.web.commons.label.currency{% endtrans %}</h4>
                    <select ng-model="ctrlCommons.objCatalog.currency" class="select-currency"
                            ng-change="ctrlCommons.changeCurrencyOrLanguage()">
                        <option value="[[ currency.id ]]" data-ng-repeat="currency in ctrlCommons.listCurrency.data">[[ currency.descripcion ]]</option>
                    </select>

                    <h4 class="label-language">{% trans %}page.web.commons.label.language{% endtrans %}</h4>
                    <select ng-model="ctrlCommons.objCatalog.language" class="select-language"
                            ng-change="ctrlCommons.changeCurrencyOrLanguage()">
                        <option value="[[ language.abreviatura ]]" data-ng-repeat="language in ctrlCommons.listLanguages.data">[[ language.descripcion ]]</option>
                    </select>
                </div>
            </div>
            <div class="renglon4">
                <div>
                    <img src="{{ asset('bundles/VisitaYucatanBundle/img/web/logo-pie.png') }}">
                </div>
            </div>
            <div class="limpiar"></div>
        </div>
    </div>
</div>