<div class="pie-pagina">
    <div class="wrap-pie">
        <div class="pie-central">

            <div class="renglon1 text-to-uppercase">
                <div class="linea">
                </div>
                <ul class="menu-footer">
                    <li><a href="home.html">{% trans %}page.web.menu.label.start{% endtrans %}</a></li>
                    <li><a href="paquetes-yucatan_new">{% trans %}page.web.menu.label.packages{% endtrans %}</a></li>
                    <li><a href="tours-en-yucatan_new">{% trans %}page.web.menu.label.tours{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="renglon2 text-to-uppercase">
                <ul class="menu-footer">
                    <li><a href="hoteles-en-yucatan">{% trans %}page.web.menu.label.hotels{% endtrans %}</a></li>
                    <li><a href="yucatan-mexico">{% trans %}page.web.menu.label.peninsula{% endtrans %}</a></li>
                    <li><a href="contacto">{% trans %}page.web.menu.label.contact{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="renglon3">
                <div>
                    <form action="{{ path('web_tours_configure_select') }}" method="post" id="formCatalogsReload">
                        <h4 class="label-currency">Moneda</h4>
                        <select name="currency" class="select-language" onchange="$('#formCatalogsReload').submit()">
                            {% for moneda in monedas %}
                                <option value="{{ moneda.id }}" {{ moneda.id == app.session.get('_currency') ? 'selected' : '' }}>{{ moneda.descripcion }}</option>
                            {% endfor %}
                        </select>

                        <h4 class="label-language">Idioma</h4>
                        <select name="language" class="select-currency" onchange="$('#formCatalogsReload').submit()">
                            {% for idioma in idiomas %}
                                <option value="{{ idioma.abreviatura }}" {{ idioma.abreviatura == app.session.get('_locale') ? 'selected' : '' }}>{{ idioma.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <div class="renglon4">
                <div>
                    <img src="{{ asset('bundles/VisitaYucatanBundle/img/web/logo-pie.png') }}">
                </div>
            </div>
            <div class="limpiar"></div>
        </div>
    </div>
</div>