<header>

    <figure class="logo">
        <a href="index"><img src="{{ asset('bundles/VisitaYucatanBundle/img/logos/logo_web.png') }}" alt="Visita Yucatan"/></a>
    </figure>

    <figure class="titulo-img">
        <a href="tours-en-yucatan_new"><img src="{{ asset('bundles/VisitaYucatanBundle/img/web/titulo-tours.png') }}" alt="logo"></a>
    </figure>

    <div class="top-header">
    </div>

    <div class="body-header img-tours"> {# img-tours esta clase se cambiara dependiendo de lapagina en la que se encuentre #}
        <div class="movil">
            <a href="#">Menu</a><span id="nav-mobile" class="icon-menu"></span>

            <div class="limpiar"></div>
        </div>
        <nav>
            <div class="limpiar"></div>
            <ul class="menu" id="menuL">
                <li class="index text-to-lowercase"><a href="{{ path('web_home') }}" target="_self" title="{% trans %}page.web.menu.label.start{% endtrans %}">{% trans %}page.web.menu.label.start{% endtrans %}</a></li>
                <li class="paquetes-yucatan text-to-lowercase"><a href="{{ path('web_paquetes') }}" target="_self" title="{% trans %}page.web.menu.label.packages{% endtrans %}">{% trans %}page.web.menu.label.packages{% endtrans %}</a></li>
                <li class="tours-en-yucatan text-to-lowercase"><a href="{{ path('web_tours') }}" target="_self" title="{% trans %}page.web.menu.label.tours{% endtrans %}">{% trans %}page.web.menu.label.tours{% endtrans %}</a></li>
                <li class="subMenu text-to-lowercase" onmouseover="showsubmenu(this)">
                    <a>{% trans %}page.web.menu.label.hotels{% endtrans %}</a>
                    <ul class="ulsubmenu" onmouseout="hidesubmenu(this)">
                        <li><a href="<? echo $linkdestino; ?>">{% trans %}page.web.menu.label.hotel.cancun{% endtrans %}</a></li>
                        <li><a href="<? echo $linkdestino; ?>">{% trans %}page.web.menu.label.hotel.merida{% endtrans %}</a></li>
                    </ul>
                </li>
                <li class="yucatan-mexico text-to-lowercase"><a href="mapas" target="_self" title="{% trans %}page.web.menu.label.peninsula{% endtrans %}">{% trans %}page.web.menu.label.peninsula{% endtrans %}</a></li>
                <li class="contacto text-to-lowercase"><a href="mapas" target="_self" title="{% trans %}page.web.menu.label.contact{% endtrans %}">{% trans %}page.web.menu.label.contact{% endtrans %}</a></li>
                <li class="mapas text-to-lowercase"><a href="mapas" target="_self" title="{% trans %}page.web.menu.label.maps{% endtrans %}">{% trans %}page.web.menu.label.maps{% endtrans %}</a></li>
            </ul>
            <div class="limpiar"></div>
        </nav>
    </div>

</header>