<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Visita Yucatán{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ metaDescription }}"/>

    {% include 'web/Lib_CSS_Web.html.twig' %}
    <link href="{{ asset('bundles/VisitaYucatanBundle/assets/css/styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/VisitaYucatanBundle/css/web/Style-detail.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/VisitaYucatanBundle/assets/fonts/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/VisitaYucatanBundle/assets/fonts/themify-icons/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/VisitaYucatanBundle/assets/plugins/clockface/css/clockface.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/VisitaYucatanBundle/assets/plugins/form-daterangepicker/daterangepicker-bs3.css') }}" type="text/css" rel="stylesheet" />

    {% include '@VisitaYucatan/web/pages/ScriptGA.html.twig' %}

</head>

<body data-ng-app="Web">

{% block body %}

    {% block header %}
        {% include 'web/Header_Web_Detail.html.twig' %}
    {% endblock %}

    {% block section %}

        {% block content %}

            {% block aside %}
                {% include 'web/Aside_Web.html.twig' %}
            {% endblock %}

        {% endblock %}

        {% block footer %}
            {% include 'web/Footer_Web.html.twig' %}
        {% endblock %}

    {% endblock %}

{% endblock %}

{% block scripts %}
    {% include 'web/Lib_JS_Web.html.twig' %}
    <script src="{{ asset('bundles/VisitaYucatanBundle/assets/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script>
        $(function(){
            $('.img-main-detail').magnificPopup({
                type:'image',
                gallery:{
                    enabled:true
                }
            });

            $('.img-seconds-details').magnificPopup({
                type:'image',
                gallery:{
                    enabled:true
                }
            });

            $('.group-img').each(function() { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a', // child items selector, by clicking on it popup will open
                    type: 'image',
                    gallery:{
                        enabled:true,
                        tPrev: '',
                        tNext: ''
                    },
                    tClose: '',
                    fixedContentPos: false
                });
            });
        });
        function startImagesHotel() {



            $.magnificPopup.open({
                items: paqWebVM.listImagesHotel.data,
                type: 'inline'}, 0);
        }
    </script>
{% endblock %}


</body>
</html>